.wrapper{
    display: flex;
    height: 90vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header {
    margin-bottom: 30px;
}

.accordion{
    width: 900px;
}

.item{
    background-color: aliceblue;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: gray;
    max-height:0px ;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
    height:auto;
    max-height:9999px ;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}