#title{
    top:3;
    background-color: #E2E2E2;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
#side{
    left: 0;
    top:1;
    width: 15%;
    height: 91vh;
    float: left;
    background-color: #E2E2E2;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
   
}
#bottom {
   
    background-color: #E2E2E2;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    height: 100%;
}
