.ech2{
    color: #000;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.self {
    margin-left: 20%;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    border: 1px solid #999999;
    cursor: pointer;
}
.self:checked {
    background-image: url('../../../pics/tick.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}
