:root {
    --blue: #0D3273;
    --pink: #C10077;
    --grey: #E2E2E2;
    --purple: #7B0E72;
}

body {
    position: relative;
    width: auto;
    height: auto;
    padding: 90px;
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    line-height: 1.5em;
    height: 100%;
    background-color: var(--grey);
}

.ticketlist {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    margin-bottom: 7px;
    background-color: #F8F4EE;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
}


.ticketh2 {
    color: var(--black);
    text-align: left;
    margin-left: 45%;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 30px;
}

.ticketform {
    margin-left: 42%;
    margin-top: 20px;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #0D3273;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.ticketinput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    margin-bottom: 7px;
}

.ticketsubmit {
    margin-top:10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

.ticketsubmit:hover {
    background-color: var(--purple);
}
