/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body {
    background-color: #092556;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

h1{
    font-size:xx-large;
}

h2{
    padding: 5%;
    font-size: larger;
}

.login-container{
    width: 38.375rem;
    height: 44.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.25rem;
    background: #FFF;
    text-align: center;
    
   

}

.login-form{
    padding: 10%;
    
}

.input-box{
    padding: 5%;
    margin-top: 10%;
}

input {
    border-radius: 5px;
    background: #F8F4EE;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 40px;
    padding: 10px 10px 10px 10px;

}

button {
    border-radius: 50px;
    background: #F8F4EE;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    padding: 1%;
    width: 20%
}

button:hover {
    background: rgba(198, 195, 189, 0.30);



}