:root{
    --blue: #0D3273;
    --pink: #C10077;
    --grey: #E2E2E2;
    --purple: #7B0E72;

}


body {
    position: relative;
    width: auto;
    height: auto;
    padding: 90px;
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    line-height: 1.5em;
    height: 100%;
    background-color: #E2E2E2;
}

h1 {
    text-align: center;
}

#center {
    width: 100%;
    background-color: antiquewhite;
    height: 90vh;
}


.topNavItem {
    padding: 20px;
    text-decoration: none;
    font-size: large;
    margin-left: 1%;
}

.topNavItem:hover{
    color: rgba(255, 255, 255, 0.60);
}

/* #navButton {
    border-radius: 50px;
    background: var(--purple);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
   
} */

#left {
    width: 20%;
    height: 90vh; /* Set height to 100% of the viewport height */
    background-color: var(--pink);
    float:left;
    color: white;
    text-align: center;
}

.move-left{
    margin-right: auto; /* Push items to the right */
    font-size: x-large;
 
}

#topnav{
    background-color: var(--blue);
    padding: 20px;
    text-align: right;
    color:white;
    height: 10vh;
   

    display: flex;
    justify-content: space-between;
    align-items: center;
   

}



button{
    width: 80%;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: larger;

    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;


}

button:hover{
    background-color: var(--purple);
}